

/*
style.css
*/



/* ------------------------------------------------------------------------------------------------  */



/* ------ Background ------ */


.igs-back-black-transparence
{
    background-color: rgba(0, 0, 0, 0.6);
}


.igs-back-white
{
    background-color: rgb(255, 255, 255);
}


.igs-back-azure
{
    background-color: rgb(240, 248, 255);
}


.igs-back-ia_jpg
{
    background-image: url(images/ia.jpg);
}


.igs-back-cover
{
    background-size: cover;
}



/* ------ Color ------ */


.igs-white
{
    color: rgb(255, 255, 255);
}



/* ------ Font ------  */


.igs-font-monospace
{
    font-family: monospace;
}


.igs-font-courier
{
font-family: 'Courier New', Courier, monospace;
}


.igs-font-sans-serif
{
    font-family: sans-serif;
}


.igs-font-1_3
{
    font-size: 1.3em;
}


.igs-font-1_5
{
    font-size: 1.5em;
}


.igs-font-1
{
    font-size: 1em;
}


.igs-font-1_2
{
    font-size: 1.2em;
}


.igs-font-bold
{
    font-weight: bold;
}



/* ------ Flex Box ------ */


.igs-flex
{
    display: flex;
}


.igs-justify-space-evenly
{
    justify-content: space-evenly;
}


.igs-justify-space-around
{
    justify-content: space-around;
}


.igs-justify-flex-end
{
    justify-content: flex-end;
}



/* ------ Height ------ */


.igs-height-auto
{
    height: auto;
}


.igs-height-2
{
    height: 2em;
}


.igs-height-5
{
    height: 5em;
}


.igs-height-60
{
    height: 60px;
}


.igs-height-100
{
    height: 100%;
}


.igs-height-300
{
    height: 300px;
}


.igs-height-450
{
    height: 450px;
}


.igs-height-492
{
    height: 492px;
}



/* ------ Margin ------ */


.igs-margin-auto
{
    margin: auto;
}


.igs-margin-top_-20
{
    margin-top: -20px;
}


.igs-margin-top_-8
{
    margin-top: -8px;
}


.igs-margin-top-60
{
    margin-top: 60px;
}


.igs-margin-right_-20
{
    margin-right: -20px;
}


.igs-margin-left_-30
{
    margin-left: -30px;
}


.igs-margin-left_-20
{
    margin-left: -20px;
}


.igs-margin-left-6
{
    margin-left: 6px;
}


.igs-margin-bottom-20
{
    margin-bottom: 20px;
}



/* ------ Padding ------ */


.igs-padding-10
{
    padding: 10px;
}


.igs-padding-20
{
    padding: 20px;
}


.igs-padding-top-10
{
    padding-top: 10px;
}


.igs-padding-bottom-70
{
    padding-bottom: 70px;
}



/* ------ Text ------ */


.igs-text-none
{
    text-decoration: none;
}


.igs-text-start
{
    text-align: start;
}


.igs-text-center
{
    text-align: center;
}



/* ------ Width ------ */


.igs-width-auto
{
    width: auto;
}


.igs-width-2
{
    width: 2em;
}


.igs-width-5
{
    width: 5em;
}


.igs-width-160
{
    width: 160px;
}


.igs-width-500
{
    width: 500px;
}


.igs-width-1430
{
    width: 1430px;
}


.igs-width-1450
{
    width: 1450px;
}


.igs-width-1470
{
    width: 1470px;
}



/* ------------------------------------------------------------------------------------------------*/
